
  
  <ion-content class="ion-padding">
    <!-- Logo -->
    <div class="logo">
      <img src="assets/icon/deunalogo.png" alt="DeUna Logo">
    </div>
  
    <!-- QR Code con Bordes -->
    <div class="qr-container">
      <!-- Imagen del QR -->
      <img src="assets/icon/descarga.png" alt="QR Code">
    </div>
  
    <!-- Número de Cuenta -->
    <p class="account-text">Usa este QR o Nro de cuenta para cobrar</p>
    <div class="account-number">
      <span id="account">**5773</span>
      <ion-icon name="eye-off-outline" id="toggleAccount"></ion-icon>
    </div>
  
    <div class="blankSapce" style="margin-bottom: 130px;"></div>
  
    <!-- Botones de Acción -->
    <div class="buttons">
      <ion-button expand="block" class="action-button">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Pagar a QR
      </ion-button>
      <ion-button expand="block" class="action-button">
        <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
        Verificar pago
      </ion-button>
      <ion-button expand="block" class="action-button">
        <ion-icon slot="start" name="train-outline"></ion-icon>
        Metro UIO
      </ion-button>
    </div>
  
    <!-- Botón de Ingreso -->
    <div class="login-btn">
      <ion-button expand="block" href="../log-in/index.html">Ingresar a Deuna</ion-button>
    </div>
  </ion-content>
  